################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectThree/.vs/ProjectThree/v16/Browse.VC.opendb
